CREATE DATABASE [RestaurantBookingDB]

USE [RestaurantBookingDB]
GO
/****** Object:  Table [dbo].[Booking]    Script Date: 10/01/2026 3:11:48 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Booking](
	[BookingID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NOT NULL,
	[TableID] [int] NULL,
	[ServiceID] [int] NULL,
	[BookingTime] [datetime] NOT NULL,
	[NumberOfGuests] [int] NOT NULL,
	[Note] [nvarchar](max) NULL,
	[TotalAmount] [decimal](10, 2) NOT NULL,
	[Status] [varchar](20) NOT NULL,
	[BookingType] [varchar](20) NOT NULL,
	[OrderCode] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[BookingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookingDetail]    Script Date: 10/01/2026 3:11:48 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookingDetail](
	[BookingDetailID] [int] IDENTITY(1,1) NOT NULL,
	[BookingID] [int] NOT NULL,
	[DishID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[PriceAtOrder] [decimal](10, 2) NOT NULL,
	[Total] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BookingDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 10/01/2026 3:11:48 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[CustomerID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[PhoneNumber] [varchar](15) NOT NULL,
	[Email] [varchar](100) NULL,
	[PasswordHash] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dish]    Script Date: 10/01/2026 3:11:48 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dish](
	[DishID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[ImageURL] [varchar](500) NULL,
	[Category] [nvarchar](50) NULL,
	[DishType] [varchar](20) NULL,
	[Status] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DishID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Promotion]    Script Date: 10/01/2026 3:11:48 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Promotion](
	[PromoID] [int] IDENTITY(1,1) NOT NULL,
	[PromoName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[DiscountPercent] [decimal](5, 2) NOT NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NOT NULL,
	[ImageURL] [varchar](500) NULL,
	[Status] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PromoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Service]    Script Date: 10/01/2026 3:11:48 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Service](
	[ServiceID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[ExtraFee] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ServiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Space]    Script Date: 10/01/2026 3:11:48 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Space](
	[SpaceID] [int] IDENTITY(1,1) NOT NULL,
	[SpaceName] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[ImageURL] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[SpaceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Table]    Script Date: 10/01/2026 3:11:48 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table](
	[TableID] [int] IDENTITY(1,1) NOT NULL,
	[TableName] [varchar](20) NOT NULL,
	[SpaceID] [int] NOT NULL,
	[Seats] [int] NOT NULL,
	[Status] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TableID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TableSchedule]    Script Date: 10/01/2026 3:11:48 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TableSchedule](
	[ScheduleID] [int] IDENTITY(1,1) NOT NULL,
	[TableID] [int] NOT NULL,
	[BookingID] [int] NOT NULL,
	[ReservationDate] [date] NOT NULL,
	[StartTime] [time](7) NOT NULL,
	[EndTime] [time](7) NOT NULL,
	[Status] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ScheduleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User_Roles]    Script Date: 10/01/2026 3:11:48 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User_Roles](
	[Email] [varchar](100) NOT NULL,
	[RoleName] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Email] ASC,
	[RoleName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Booking] ON 

INSERT [dbo].[Booking] ([BookingID], [CustomerID], [TableID], [ServiceID], [BookingTime], [NumberOfGuests], [Note], [TotalAmount], [Status], [BookingType], [OrderCode]) VALUES (10, 1011, 7, 1, CAST(N'2026-01-10T12:30:00.000' AS DateTime), 1, N'', CAST(1398000.00 AS Decimal(10, 2)), N'CONFIRMED', N'DINE_IN', N'BBQ-20260110-10')
INSERT [dbo].[Booking] ([BookingID], [CustomerID], [TableID], [ServiceID], [BookingTime], [NumberOfGuests], [Note], [TotalAmount], [Status], [BookingType], [OrderCode]) VALUES (11, 1011, NULL, 1, CAST(N'2026-01-15T10:00:00.000' AS DateTime), 10, N'', CAST(3197000.00 AS Decimal(10, 2)), N'PENDING', N'PARTY', N'EVT-20260110-11')
INSERT [dbo].[Booking] ([BookingID], [CustomerID], [TableID], [ServiceID], [BookingTime], [NumberOfGuests], [Note], [TotalAmount], [Status], [BookingType], [OrderCode]) VALUES (12, 1011, NULL, 1, CAST(N'2026-01-15T10:00:00.000' AS DateTime), 10, N'', CAST(500000.00 AS Decimal(10, 2)), N'PENDING', N'PARTY', N'EVT-20260110-12')
SET IDENTITY_INSERT [dbo].[Booking] OFF
GO
SET IDENTITY_INSERT [dbo].[BookingDetail] ON 

INSERT [dbo].[BookingDetail] ([BookingDetailID], [BookingID], [DishID], [Quantity], [PriceAtOrder], [Total]) VALUES (1, 10, 2, 1, CAST(899000.00 AS Decimal(10, 2)), CAST(899000.00 AS Decimal(10, 2)))
INSERT [dbo].[BookingDetail] ([BookingDetailID], [BookingID], [DishID], [Quantity], [PriceAtOrder], [Total]) VALUES (2, 10, 3, 1, CAST(499000.00 AS Decimal(10, 2)), CAST(499000.00 AS Decimal(10, 2)))
INSERT [dbo].[BookingDetail] ([BookingDetailID], [BookingID], [DishID], [Quantity], [PriceAtOrder], [Total]) VALUES (3, 11, 2, 3, CAST(899000.00 AS Decimal(10, 2)), CAST(2697000.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[BookingDetail] OFF
GO
SET IDENTITY_INSERT [dbo].[Customer] ON 

INSERT [dbo].[Customer] ([CustomerID], [FullName], [PhoneNumber], [Email], [PasswordHash]) VALUES (1010, N'Quản lý BBQ', N'0123456789', N'admin@gmail.com', N'83cf8b609de60036a8277bd0e96135751bbc07eb234256d4b65b893360651bf2')
INSERT [dbo].[Customer] ([CustomerID], [FullName], [PhoneNumber], [Email], [PasswordHash]) VALUES (1011, N'Nguyễn Văn A', N'0123456788', N'nguyengiahan112k5@gmail.com', N'ed0478973a6c233d4cba8a20af7c6a156599c88e5f6dfdd8ea10cdbf2c8c4cfd')
SET IDENTITY_INSERT [dbo].[Customer] OFF
GO
SET IDENTITY_INSERT [dbo].[Dish] ON 

INSERT [dbo].[Dish] ([DishID], [Name], [Price], [Description], [ImageURL], [Category], [DishType], [Status]) VALUES (1, N'Combo FA', CAST(899000.00 AS Decimal(10, 2)), N'Phù hợp cho 4-6 người, gồm nhiều món nướng và lẩu.', N'https://oms.hotdeal.vn/images/editors/sources/000365904896/365904-phu-nuong-combo-nuong-danh-cho-4-nguoi-body(6).jpg', N'BBQ', N'combo', N'active')
INSERT [dbo].[Dish] ([DishID], [Name], [Price], [Description], [ImageURL], [Category], [DishType], [Status]) VALUES (2, N'Combo Gia Đình', CAST(899000.00 AS Decimal(10, 2)), N'Phù hợp cho 4-6 người, gồm nhiều món nướng và lẩu.', N'https://hotdeal.vn/images/uploads/2016/Thang%2011/18/306310/306310-combo-lau-nuong-nha-hang-lau-ngon-124-lang-ha-body-1.jpg', N'BBQ', N'combo', N'active')
INSERT [dbo].[Dish] ([DishID], [Name], [Price], [Description], [ImageURL], [Category], [DishType], [Status]) VALUES (3, N'Combo Bạn Bè', CAST(499000.00 AS Decimal(10, 2)), N'Phù hợp cho 2-4 người, nhiều món nướng hấp dẫn.', N'https://static.hotdeal.vn/images/1385/1384835/500x500/311171-set-nuong-lau-an-tet-ga-cho-4-6-nguoi-tai-nha-hang-lau-69.jpg', N'BBQ', N'combo', N'active')
SET IDENTITY_INSERT [dbo].[Dish] OFF
GO
SET IDENTITY_INSERT [dbo].[Promotion] ON 

INSERT [dbo].[Promotion] ([PromoID], [PromoName], [Description], [DiscountPercent], [StartDate], [EndDate], [ImageURL], [Status]) VALUES (1, N'Happy Hour', N'Giảm 20% từ 14h–17h mỗi ngày', CAST(20.00 AS Decimal(5, 2)), CAST(N'2025-11-01' AS Date), CAST(N'2025-11-30' AS Date), N'https://atuankhang.vn/wp-content/uploads/2020/05/cach-uop-thit-bo-nuong-ngon-nhat.jpg', N'Active')
INSERT [dbo].[Promotion] ([PromoID], [PromoName], [Description], [DiscountPercent], [StartDate], [EndDate], [ImageURL], [Status]) VALUES (2, N'Combo Cặp Đôi', N'Không gian lãng mạn + menu đặc biệt cho 2 người', CAST(30.00 AS Decimal(5, 2)), CAST(N'2025-11-01' AS Date), CAST(N'2025-12-15' AS Date), N'https://static.vinwonders.com/production/quan-nuong-nha-trang-1.jpg', N'Active')
INSERT [dbo].[Promotion] ([PromoID], [PromoName], [Description], [DiscountPercent], [StartDate], [EndDate], [ImageURL], [Status]) VALUES (3, N'Combo Gia Đình', N'Giảm 15% cuối tuần', CAST(15.00 AS Decimal(5, 2)), CAST(N'2025-11-01' AS Date), CAST(N'2025-12-31' AS Date), N'https://images.unsplash.com/photo-1551218808-94e220e084d2', N'Inactive')
SET IDENTITY_INSERT [dbo].[Promotion] OFF
GO
SET IDENTITY_INSERT [dbo].[Service] ON 

INSERT [dbo].[Service] ([ServiceID], [Name], [ExtraFee]) VALUES (1, N'Tự nướng', CAST(0.00 AS Decimal(10, 2)))
INSERT [dbo].[Service] ([ServiceID], [Name], [ExtraFee]) VALUES (2, N'Nhân viên nướng dùm', CAST(150000.00 AS Decimal(10, 2)))
INSERT [dbo].[Service] ([ServiceID], [Name], [ExtraFee]) VALUES (3, N'Trang trí sinh nhật', CAST(300000.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Service] OFF
GO
SET IDENTITY_INSERT [dbo].[Space] ON 

INSERT [dbo].[Space] ([SpaceID], [SpaceName], [Description], [ImageURL]) VALUES (1, N'Tầng 1 - Khu thường', N'Không gian thoải mái cho gia đình', N'https://20sfvn.com/wp-content/uploads/2022/09/thiet-ke-nha-hang-lau-nuong.jpeg')
INSERT [dbo].[Space] ([SpaceID], [SpaceName], [Description], [ImageURL]) VALUES (2, N'Tầng 2 - Khu VIP', N'Không gian riêng tư, sang trọng', N'https://20sfvn.com/wp-content/uploads/2022/09/thiet-ke-nha-hang-lau-nuong.jpeg')
INSERT [dbo].[Space] ([SpaceID], [SpaceName], [Description], [ImageURL]) VALUES (3, N'Sân vườn ngoài trời', N'Thưởng thức BBQ ngoài trời', N'https://20sfvn.com/wp-content/uploads/2022/09/thiet-ke-nha-hang-lau-nuong.jpeg')
SET IDENTITY_INSERT [dbo].[Space] OFF
GO
SET IDENTITY_INSERT [dbo].[Table] ON 

INSERT [dbo].[Table] ([TableID], [TableName], [SpaceID], [Seats], [Status]) VALUES (1, N'A01', 1, 4, N'reserved')
INSERT [dbo].[Table] ([TableID], [TableName], [SpaceID], [Seats], [Status]) VALUES (2, N'A02', 1, 4, N'available')
INSERT [dbo].[Table] ([TableID], [TableName], [SpaceID], [Seats], [Status]) VALUES (3, N'A03', 1, 4, N'available')
SET IDENTITY_INSERT [dbo].[Table] OFF
GO
INSERT [dbo].[User_Roles] ([Email], [RoleName]) VALUES (N'admin@gmail.com', N'administrator')
INSERT [dbo].[User_Roles] ([Email], [RoleName]) VALUES (N'nguyengiahan112k5@gmail.com', N'registered-user')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UC_Customer_Email]    Script Date: 10/01/2026 3:11:48 CH ******/
ALTER TABLE [dbo].[Customer] ADD  CONSTRAINT [UC_Customer_Email] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Customer__85FB4E3899910D91]    Script Date: 10/01/2026 3:11:48 CH ******/
ALTER TABLE [dbo].[Customer] ADD UNIQUE NONCLUSTERED 
(
	[PhoneNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Customer__85FB4E38CD74C6A9]    Script Date: 10/01/2026 3:11:48 CH ******/
ALTER TABLE [dbo].[Customer] ADD UNIQUE NONCLUSTERED 
(
	[PhoneNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Customer__A9D10534058C792F]    Script Date: 10/01/2026 3:11:48 CH ******/
ALTER TABLE [dbo].[Customer] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Customer__A9D10534CE5F69F1]    Script Date: 10/01/2026 3:11:48 CH ******/
ALTER TABLE [dbo].[Customer] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Service__737584F6021CC21E]    Script Date: 10/01/2026 3:11:48 CH ******/
ALTER TABLE [dbo].[Service] ADD UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Service__737584F698B1CEEE]    Script Date: 10/01/2026 3:11:48 CH ******/
ALTER TABLE [dbo].[Service] ADD UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Space__5A5F015B191C375F]    Script Date: 10/01/2026 3:11:48 CH ******/
ALTER TABLE [dbo].[Space] ADD UNIQUE NONCLUSTERED 
(
	[SpaceName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Space__5A5F015B53F5C664]    Script Date: 10/01/2026 3:11:48 CH ******/
ALTER TABLE [dbo].[Space] ADD UNIQUE NONCLUSTERED 
(
	[SpaceName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD  CONSTRAINT [FK_Booking_Customer] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customer] ([CustomerID])
GO
ALTER TABLE [dbo].[Booking] CHECK CONSTRAINT [FK_Booking_Customer]
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD  CONSTRAINT [FK_Booking_Service] FOREIGN KEY([ServiceID])
REFERENCES [dbo].[Service] ([ServiceID])
GO
ALTER TABLE [dbo].[Booking] CHECK CONSTRAINT [FK_Booking_Service]
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD  CONSTRAINT [FK_Booking_Table] FOREIGN KEY([TableID])
REFERENCES [dbo].[Table] ([TableID])
GO
ALTER TABLE [dbo].[Booking] CHECK CONSTRAINT [FK_Booking_Table]
GO
ALTER TABLE [dbo].[BookingDetail]  WITH CHECK ADD  CONSTRAINT [FK_BookingDetail_Booking] FOREIGN KEY([BookingID])
REFERENCES [dbo].[Booking] ([BookingID])
GO
ALTER TABLE [dbo].[BookingDetail] CHECK CONSTRAINT [FK_BookingDetail_Booking]
GO
ALTER TABLE [dbo].[BookingDetail]  WITH CHECK ADD  CONSTRAINT [FK_BookingDetail_Dish] FOREIGN KEY([DishID])
REFERENCES [dbo].[Dish] ([DishID])
GO
ALTER TABLE [dbo].[BookingDetail] CHECK CONSTRAINT [FK_BookingDetail_Dish]
GO
ALTER TABLE [dbo].[Table]  WITH CHECK ADD  CONSTRAINT [FK_Table_Space] FOREIGN KEY([SpaceID])
REFERENCES [dbo].[Space] ([SpaceID])
GO
ALTER TABLE [dbo].[Table] CHECK CONSTRAINT [FK_Table_Space]
GO
ALTER TABLE [dbo].[TableSchedule]  WITH CHECK ADD  CONSTRAINT [FK_Schedule_Booking] FOREIGN KEY([BookingID])
REFERENCES [dbo].[Booking] ([BookingID])
GO
ALTER TABLE [dbo].[TableSchedule] CHECK CONSTRAINT [FK_Schedule_Booking]
GO
ALTER TABLE [dbo].[TableSchedule]  WITH CHECK ADD  CONSTRAINT [FK_Schedule_Table] FOREIGN KEY([TableID])
REFERENCES [dbo].[Table] ([TableID])
GO
ALTER TABLE [dbo].[TableSchedule] CHECK CONSTRAINT [FK_Schedule_Table]
GO
ALTER TABLE [dbo].[User_Roles]  WITH CHECK ADD  CONSTRAINT [FK_UserRoles_Customer] FOREIGN KEY([Email])
REFERENCES [dbo].[Customer] ([Email])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[User_Roles] CHECK CONSTRAINT [FK_UserRoles_Customer]
GO
