/* FOOTER */
.footer {
	background: #333;
	color: #fff;
	padding: 50px 20px 20px;
}

.footer-container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 30px;
	max-width: 1200px;
	margin: auto;
}

.footer-col h3 {
	margin-bottom: 15px;
	font-size: 18px;
	color: #ff5722;
}

.footer-col p, .footer-col ul li {
	font-size: 14px;
	margin-bottom: 10px;
}

.footer .footer-col ul {
	display: block;
}


.footer-col ul {
	list-style: none;
	padding: 0;
}

.footer-col ul li a {
	text-decoration: none;
	color: #fff;
	transition: 0.3s;
}

.footer-col ul li a:hover {
	color: #ff5722;
}